# DEV
APP_TAG=<YOUR_APP_TAG>

ENV_FOR_DYNACONF=production

BOT_TOKEN=12345678:ADIRJfrJGGowPsadlpkvm1wAEqGdkYEewsrderg
BOT_ADMINS = 123456567 2345678

# AI
GEMINI_API_KEY=<your-gemini-apy-key>

# Stepik
STEPIK_CLIENT_ID=<your-ID>
STEPIK_CLIENT_SECRET=<your-secret>

# Redis
REDIS_PASSWORD=<your-redis-password>
REDIS_HOST=redis

# PostgreSQL
POSTGRES_USER=superuser
POSTGRES_PASSWORD=<your-password>
POSTGRES_HOST=<your-host>
POSTGRES_DB=<your-db>
