APP_TAG=<YOUR_APP_TAG>

ENV_FOR_DYNACONF=production

BOT_TOKEN=12345678:ADIRJfrJGGowPsadlpkvm1wAEqGdkYEewsrderg

STEPIK_CLIENT_ID=<your_ID>
STEPIK_CLIENT_SECRET=<your_secret>

# Redis
REDIS_PASSWORD=<your_redis_password>
REDIS_HOST=redis

# PostgreSQL
POSTGRES_USER=superuser
POSTGRES_PASSWORD=<your_password>
POSTGRES_HOST=<your_host>
POSTGRES_DB=<YOUR_DB>
